@model List<EtkinlikPaneli.Models.Etkinlik>

@{
    ViewData["Title"] = "Etkinlikler";
}

<h2>Etkinlikler</h2>
@if (TempData["Mesaj"] != null)
{
    <div class="alert alert-success">
        Etkinliğe katılım işlemi başarıyla tamamlandı.
    </div>
}
<a asp-action="Create" class="btn btn btn-primary mb-3">Yeni Etkinlik Ekle</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Etkinlik Adı</th>
            <th>Yer</th>
            <th>Tarih</th>
            <th>Açıklama</th>
            <th>İşlem</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var etkinlik in Model)
        {
            <tr>
                <td>@etkinlik.EtkinlikAdi</td>
                <td>@etkinlik.Yer</td>
                <td>@etkinlik.Tarih.ToShortDateString()</td>
                <td>@etkinlik.Aciklama</td>
                <td>
                    <a asp-action="Details" asp-route-id="@etkinlik.Id" class="btn btn-info btn-sm">Detay</a>
                    <a asp-action="Edit" asp-route-id="@etkinlik.Id" class="btn btn-warning btn-sm">Güncelle</a>
                    <a asp-action="Delete" asp-route-id="@etkinlik.Id" class="btn btn-danger btn-sm">Sil</a>
                    <a asp-controller="Katilim" asp-action="Katil" asp-route-etkinlikId="@etkinlik.Id" class="btn btn-success btn-sm">Katıl</a>
                </td>
            </tr>
        }
    </tbody>
</table>

